<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">
    <!--添加新员工信息-->
    <insert id="addEmployee">
        insert into employee(username, password, name, phone, sex, id_number)
        values (#{username}, "123456", #{name}, #{phone}, #{sex}, #{idNumber})
    </insert>
    <!--执行密码修改-->
    <update id="updatePassword">
        update employee
        <set>
            <if test="newPassword != null">
                password = #{newPassword}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getTotal" resultType="java.lang.Integer">
        select count(*)
        from employee
    </select>

    <select id="getEmployee" resultType="com.sky.entity.Employee">
        select * from employee
        <where>
            <if test="name != null">
                name like concat ('%', #{name}, '%')
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <select id="getPassword" resultType="java.lang.String">
        select password
        from employee
        where id = #{id}
    </select>
</mapper>
