<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.OrderMapper">
    <!--查询总共记录数total-->
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*)
        from orders;
    </select>
    <!--分页查询所有订单-->
    <select id="getAllOrder" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null">
                number = #{number}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null and endTime != null">
                and order_time between #{beginTime} and #{endTime}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
            order by order_time DESC
            limit #{page}, #{pageSize}

    </select>
</mapper>

