<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.WorkSpaceMapper">

    <select id="getTurnover" resultType="java.lang.Double">

    </select>

    <select id="getOrderTotal" resultType="java.lang.Integer">

    </select>
    <select id="getStateEnd" resultType="java.lang.Integer">

    </select>
    <select id="getAllTotal" resultType="java.lang.Double">

    </select>
</mapper>


